<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Крипто Инвестиции</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Инвестиции в Биткойн</h1>
    <form method="POST" id="investment-form">
        <div class="form-group">
            <label for="start_date">Начална дата:</label>
            <input type="date" id="start_date" name="start_date" required>
        </div>
        <div class="form-group">
            <label for="end_date">Крайна дата:</label>
            <input type="date" id="end_date" name="end_date" required>
        </div>
        <div class="form-group">
            <label for="amount">Сума за инвестиция на период:</label>
            <input type="number" id="amount" name="amount" required>
        </div>
        <div class="form-group">
            <label for="period_weeks">Периодичност (в седмици):</label>
            <input type="number" id="period_weeks" name="period_weeks" required>
        </div>
        <button type="submit" class="btn">Изчисли</button>
    </form>

    <div class="container" id="results-container" style="display: none;"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>